*{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
	width: 100vw;
	overflow-x: hidden;
	background-color: orange;
}

header{
	height: 3rem;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
	background-color: rgb(156, 63, 0);
}

.aa{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2%;
}

.menus{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
	width: 30%;
	font-size: 1rem;
	font-weight: bold;
}

.ab, .ac, .ad{
	height: 3rem;
	width: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.ab:hover, .ac:hover, .ad:hover{
	background-color: rgb(109, 44, 0);
	border-bottom: 3px solid white;
}

.aca{
	display: none;
}

.ac:hover .aca{
	display: flex;
	height: 7rem;
	width: 8rem;
	
	position: absolute;
	top: 3.1rem;
	background-color: rgb(77, 31, 0);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.maincontent{
	display: flex;
	min-height: 92.7vh;
	width: 100vw;
	align-items: center;
	background-color: rgb(43, 23, 0);
	color: white;
	transition: all 0.3s linear;
}
.maincontent.light{
	background-color: rgb(221, 199, 174);
	color: black;
	
	transition: all 0.5s linear;
}


.leftcol, .rightcol{
	width: 50%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.textss{
	font-size: 1rem;
            
            width: 36vw;
            text-align: justify;
            margin-top: 2rem;
}
.mainhead{
	font-size: 2rem;
	text-shadow: 0 0 10px rgb(77, 43, 0);
}
#replace{
	width: 28rem;
}
.baricon{
	display: none;
}
#chnageicon{
	font-size: 1.3rem;
}


@media screen and (max-width:960px){
	header{
		width: 100vw;
		overflow-x: hidden;
		z-index: 999;
	}
	.menus{
		height: fit-content;
		width: 8rem;
		display: none;
		flex-direction: column;
		position: absolute;
		background-color: rgb(109, 44, 0);
		top: 3rem;
		right: 0;
		transform: translateX(100%);
		transition: 0.2s ease;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		z-index: 999;
	}
	.aa, .ab, .ac, .ad{
		z-index: 999;
	}
	.menus.active{
		display: flex;
		transform: translateX(0);
		transition: 0.2s ease;
	}
	.maincontent{
		display: flex;
		flex-direction: column;
		
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.leftcol, .rightcol{
		width: 100vw;
		
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.ab.pushdown{
		margin-top: 7rem;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.textss{
		width: 95vw;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.heings{
		font-size: 1.44rem;
		margin-top: 3rem;
		height: 2rem;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.mainhead{
		font-size: 1.5rem;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	#replace{
		width: 100vw;
		margin-top: 3rem;
		margin-bottom: 3rem;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.baricon{
		z-index: 995;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3rem;
		height: 100%;
		color: rgb(255, 195, 139);
		font-size: 1.2rem;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: 0.2s ease;
	}
	.baricon:active{
		background-color: rgb(117, 57, 0);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: 0.2s ease;
	}

	.overlay{
		z-index: 99;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgb(0, 0, 0);
		opacity: 0;
	}
	.overlay.active{
		opacity: 0.6;
	}
	
	.aca{
		pointer-events: none;
		display: none;
		height: 7rem;
		width: 8rem;
		position: absolute;
		top: 3.1rem;
		background-color: rgb(75, 36, 0);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.aca.show{
		display: flex;
		pointer-events: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}