.container{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    height: 300px;
    position: relative;
}

.container p{
    color:white;
    font-size: 15px;
    padding: 10px;
}

.upperrow{
    
    width:130px;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.copuright{
    position: absolute;
    color:grey;
    bottom:30px;
    justify-self: center;

}